@for $i from 1 through 3 {
  .item-#{$i} {
    width: 10px * $i;
  }
}

@each $item in item1, item2{
  .#{$item}{
    width: 500px;
  }
}

$i: 6;
@while $i > 0 {
  .item-#{$i} {
    width: 10px * $i;
  }
  $i: $i - 2;
}