$content-width: 500px;

#content{
  font: 10px/8px;
  width: $content-width/2;
  width: (500px/2);
  width: 10px + 500px/2;
}

$some-val: 10px;
$another-val: 8px;

#other{
  font: #{$some-val}/#{$another-val};
}